<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cargando...</title>
</head>

<body>
    <div id="app"></div>
    <script id="database" type="application/json">
  #JSON_DATABASE
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="../../../components/layout.js"
    onerror="this.onerror=null; let s=document.createElement('script'); s.src='https://ccarmox.github.io/sandbox2/components/layout.js'; document.head.appendChild(s);"></script>
    <script>
        loadPageConfig(document.getElementById('database').textContent);
    </script>
</body>

</html>